# Python
__pycache__/
*.py[cod]
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/osm/
data/gtfs/
data/pickle/
cache/

# Large files
*.osm.pbf
*.zip
*.pkl
*.parquet
*.gpkg

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Keep specific data files
!data/parquet/oevschul_soe.parquet
!data/gpkg/schulen_zuerich.gpkg
!data/gpkg/schulkreise_zuerich.gpkg
